.beer {
    bottom: 0;
    width: 70%;
    /* z-index: -1; */
}

.beer2{

    display: flex;
    justify-content: center;
}

.drink {
    margin-bottom: 0px;
    padding-left: 3%;
    color: rgb(4, 4, 53);
    font-family: 'Special Elite', cursive;
    font-size: 35px;
    font-weight: bold;
}