.foot {
    bottom: 0;
    width: 100%;
    background-color: rgb(4, 4, 53);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 0%;
    border-top: white;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
}

.contact {
    right: 1rem;
}