.navbar {
    background-color: rgb(4, 4, 53);
    height: 65px;
    /* border-bottom: solid; */
    /* border-bottom-color: white; */
}

.list {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.fa {
    font-size: 30px;
}

