.navbar {
    background-color: rgb(4, 4, 53);
    border-bottom: solid;
    border-bottom-color: white;
}

.list {
    color: white;
    font-family: 'Just Another Hand', cursive;
    font-size: 35px;
}

.fa {
    font-size: 30px;
}

.navlogo {
    width: 250px;
}