.beersign {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 30% !important;
}

.login {
    display: flex;
    justify-content: center;
}

.input-field label {
    color:rgb(4, 4, 53);
    font-weight: bold;
    font-size: 20px;
  }

   /* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 2px solid #000;
    box-shadow: 0 1px 0 0 #000;
   }

   .hello {
    color: rgb(4, 4, 53);
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    font-weight: bold;   
   }


