.flight {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 60%;
}

.contactus {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    font-weight: bold;
    color: rgb(4, 4, 53)
}