.image {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;
}

.workforbeer {
    padding-left: 5rem;
    padding-top: 5rem;
    width: 25%;
    /* background-color: white; */
}

.socialevents {
    padding-left: 3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* .local {
    padding-left: 37%;
    font-family: 'Just Another Hand', cursive;
    font-weight: bold;
    color:  rgb(4, 4, 53);
} */