.beer {
    width: 80%;
}

.beer2{
    display: flex;
    justify-content: center;
}

.drink {
    margin-top: 1%;
    padding-left: 3%;
    color: rgb(4, 4, 53);
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    font-weight: bold;
}


