.navbar {
    background-color: rgb(4, 4, 53);
    height: 65px;
}
   

.list {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.fa {
    font-size: 30px;
}

.sidenav li>a {
    color:  rgb(4, 4, 53);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.sidenav li>a>i {
    color:  rgb(4, 4, 53); 
}