.navbar {
    background-color: rgb(4, 4, 53);
    height: 65px;
}
   

.list {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.fa {
    font-size: 30px;
}

/* .brand-logo.right{
    width: 0rem;
} */

/* @media only screen and(max-width: 996px){
    .brand-logo.right{
        width: 0.5rem;
    }
} */